body, html {
  height: 100%;
  margin: 0;
}

button {
  margin: 0 20px 0 0;
  width: 83px;
}

/* video {
  --width: 45%;
  width: var(--width);
  height: calc(var(--width) * 0.75);
  margin: 0 0 20px 0;
  vertical-align: top;
} */

#remoteStream {
  --width: 100%;
  --height: 100%;
  width: var(--width);
  height: var(--height);
  /* height: calc(var(--width) * 0.75); */
  margin: 0 0 20px 0;
  vertical-align: top;
}

#localStream {
  --width: 25%;
  width: var(--width);
  height: calc(var(--width) * 0.75);
  margin: 0 0 20px 0;
  vertical-align: top;
}

div.select {
  display: inline-block;
  margin: 0 0 1em 0;
}

/* #videoal {
  margin-left: 80px;
} */

/* #videoal div.video {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 400px;
  height: 400px;
  margin: 0 10px 10px 0;
}

#videoal div.video video {
  width: 100%;
  height: 100%;
} */