body, html {
  height: 100%;
  margin: 0;
}

#videoal {
  margin-left: 80px;
}

#videoal div.video {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 400px;
  height: 400px;
  margin: 0 10px 10px 0;
}

#videoal div.video video {
  width: 100%;
  height: 100%;
}