body, html {
  height: 100%;
  margin: 0;
}

/* #remoteStream {
  width: 100%;
  height: 100%;
  position: absolute;
} */

/* #remoteStream {
  width: 25vh;
  height: 25vh;
  margin: 1em;
  bottom: 0;
  left: 0;
  position: absolute;
}

#remoteStream2 {
  width: 25vh;
  height: 25vh;
  margin: 1em;
  bottom: 30vh;
  left: 0;
  position: absolute;
} */

/* #localStream {
  width: 25vh;
  height: 25vh;
  margin: 1em;
  bottom: 0;
  right: 0;
  position: absolute;
}

#localStream2 {
  width: 25vh;
  height: 25vh;
  margin: 1em;
  bottom: 30vh;
  right: 0;
  position: absolute;
} */

#videoal {
  margin-left: 80px;
}

#videoal div.video {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 600px;
  height: 600px;
  margin: 0 10px 10px 0;
}

#videoal div.video video {
  width: 100%;
  height: 100%;
}

/* #toggleMic {
  width: 4vh;
  height: 4vh;
  margin: 1em;
  bottom: 0;
  right: 0;
  position: absolute;
} */

/* #toggleMic.muted {
  color: red;
} */
